/* header {
    background-color: blue;
}

.menu .menu-item {
background-color: lightgreen;
}

.submenu  .submenu-link{
    color:goldenrod

}

.menu  p {
    color:white
} */


.button{
    padding: 12px 54px;
    color:white;
    background-color: #D4C17F;
    border: 1px solid transparent;
    
}

.button:hover{
    background-color: aqua;
    cursor: pointer;

}


.button:focus{
    background-color: blueviolet;
}

.button:active{
    background-color: rgb(226, 43, 186);
}
