/* header {
    background-color: blue;
}

.menu .menu-item {
background-color: lightgreen;
}

.submenu  .submenu-link{
    color:goldenrod

}

.menu  p {
    color:white
} */


.button{
    color:white;
    background-color: blanchedalmond;
}