/* ====================BASE======================= */

:root{
--color-accent: #D4C17F;
}
 
 header {
    background-color: black;
} 



/* =======================BUTTON======================= */

/* .menu .menu-item {
background-color: lightgreen;
}

.submenu  .submenu-link{
    color:goldenrod

} 

.menu  p {
    color:white
}  */



/* ==============UI================= */

.title{
    background-color: var(--color-accent);
}


.button{
    padding: 12px 54px;
    color:white;
    background-color: var(--color-accent);
    border: 1px solid transparent;
    
}

.button:hover{
     /* background-color: aqua; */
    cursor: pointer; 
    box-shadow: 0px 0px 2px 2px rgba(219, 192, 127, 0.2);
}



.button:focus{
    /* background-color: blueviolet; */
    box-shadow: 0px 0px 4px 4px rgba(219, 192, 127, 0.2);
}

 .button:active{

     background-color: rgb(255, 0, 0)
    } 

    /* ============================MENU==================================== */

    
    .menu-link,
    .submenu-link
        {
    color:white
    }
    .menu-link:hover,
    .submenu-link:hover
        {
    color: var(--color-accent);
    }
   